# Server Setup
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://neondb_owner:npg_VYFXKGs6O3ct@ep-spring-poetry-ax8wpe0e-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
MONGO_URI=mongodb+srv://paulthanksgiving1_db_user:RjFF1vWzhFRe79p0@synapse0v1.k5glr3w.mongodb.net/?appName=Synapse0v1
JWT_ACCESS_SECRET=831d36e09c3a4bc37c285d835111654527b5686155bea6fd6bf734c73630a7a7
JWT_REFRESH_SECRET=7edd34f03bd4c60afe1b0e8136d6bf06f60e0c09136fc6bddb0ffd3a9d00336e
IMAGEKIT_PRIVATE_KEY=private_77TUVbwbBmshhJn36s2fs/0Duyg=